---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = 'About Me';
const subTitle = 'Who Am I?';
---

<BaseLayout pageTitle={ pageTitle } subTitle={ subTitle }>
  <p>Isn't that one of the questions people have been asking themselves for ages?</p>
</BaseLayout>
