---
import BaseLayout from "@layouts/BaseLayout.astro";
const pageTitle = 'About Me';
const subTitle = 'Who Am I?';
---

<BaseLayout pageTitle={ pageTitle } subTitle={ subTitle }>
  <p>Isn't that one of the questions people have been asking themselves for ages?</p>
  <p>Sorry, I shouldn't have gotten so metaphysical right off the bat like that.</p>
</BaseLayout>
