---
import BaseLayout from "@layouts/BaseLayout.astro";

const pageTitle = "Jim Strother";
const subTitle = 'Welcome!'
---

<BaseLayout pageTitle={ pageTitle } subTitle={ subTitle }>
  <p>Hi, my name is Jim and I am a web developer and Salesforce professional. I love coding and seeing what I can do with various programming languages.</p>
  <p>I appreciate you coming to my site and seeing what I've got! Please click around on the menu above and see what else this site contains.</p>
</BaseLayout>
