---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
---
<nav>
  <Hamburger />
  <ThemeIcon />
  <Navigation />
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
    width: 100%;
  }
</style>