---
import { ViewTransitions, fade, slide } from "astro:transitions";
import Header from "@components/Header.astro";
import '@styles/global.scss';

const { pageTitle, subTitle = '' } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="generator" content={ Astro.generator }>
  <title>{ pageTitle }</title>
  <ViewTransitions />
</head>
<body>
  <Header />
  <main>
    <h1 transition:animate={ slide({ duration: '1.5s' }) }>{ pageTitle }</h1>
    <h3 transition:animate={ fade({ duration: '0.5s' })}>{ subTitle }</h3>
    <slot />
  </main>
  <script>
    import '../scripts/menu.js';
  </script>
</body>
</html>
